<h2>Upcoming games</h2>
<div class="row">
  <% games[0..4].each do |u| %>
    <ul>
      <li>
        <%= DateTime.parse(u["time"]).strftime("%d %b 2014 &mdash; %H:00") %>:
        <a class="country" href="#" data-toggle="tooltip" title="<%= u["team1"] %>">
          <%= sweepstake[u["team1"]] || u["team1"] %>
        </a> vs.
        <a class="country" href="#" data-toggle="tooltip" title="<%= u["team2"] %>">
          <%= sweepstake[u["team2"]] || u["team2"] %>
        </a>
      </li>
    </ul>
  <% end %>
</div>

<h2>Groups</h2>
<div class="row">
<% ghash.each do |gid,teams| %>
<div class="col-xs-6 col-sm-4 col-md-2">
  <h4>Group <%= gid %></h4>
  <table class="table table-striped">
    <tbody>
      <% teams.each do |team| %>
        <tr>
          <td><a class="country" href="#" data-toggle="tooltip" title="<%= team[0] %>"><%= sweepstake[team[0]] || team[0] %></a></td>
          <td><%= team[1].to_i %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
</div>

<h2>Finals</h2>
<% rounds.each do |round| %>
    <ul>
      <% round.each do |u| %>
        <li>
          <%= DateTime.parse(u["time"]).strftime("%d %b 2014 &mdash; %H:00") %>:
          <h4 style="display:inline;"><a class="country" href="#" data-toggle="tooltip" title="<%= u["team1"] %>">
            <%= sweepstake[u["team1"]] || u["team1"] %>
          </a></h4> vs.
          <h4 style="display:inline;"><a class="country" href="#" data-toggle="tooltip" title="<%= u["team2"] %>">
            <%= sweepstake[u["team2"]] || u["team2"] %>
          </a></h4>
        </li>
      <% end %>
    </ul>
<% end %>
