<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alex' Portal for World Cup 2014 fun!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Javascript -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--<script src="//www.google.com/jsapi"></script>-->
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="javascript/chartkick.js"></script>
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if active == "home" %>"><a href="/">Home</a></li>
      <li class="<%= 'active' if active == "groups" %>"><a href="/groups">GAME OF LUCK</a></li>
      <li class="<%= 'active' if active == "scores" %>"><a href="/scores">GAME OF SKILL AND LUCK</a></li>
    </ul>
    <%= yield %>

    <script src="javascript/popover.js"></script>

  </body>
</html>
