<div class="col-md-6 col-md-offset-3">
  <h1>Olá, e bem-vindo ao Brasil,</h1>

  <p>This World Cup will be the greatest tournament in history.
  To make it even more exciting why not play two interactive
  games put together by Leventhal, Sam and me? You need no
  <a href="http://www.youtube.com/watch?v=Kfenai77-wg">knowledge of football to play</a>,
  and just like the real thing you can win through
  luck, <a href="http://www.youtube.com/watch?v=IgBe8zA4C-w">skill</a> and
  <a href="http://en.wikipedia.org/wiki/Qatar_2022_FIFA_World_Cup_bid">money</a>.</p>

  <h4>GAME OF LUCK</h4>
  <p>Old-fashioned sweepstake. Simple: draw a team name from a hat. If that team wins the World Cup, you win. Amazing!</p>
  <p>Sam is right now in London obtaining an official Football Association hat, so you can pick your team early next week.</p>

  <h4>GAME OF SKILL AND LUCK (mostly luck)</h4>
  <p>Predict the scores. Just enter your name at the top of the attached sheet, predict the scores, save it (as Firstname_Lastname.xls), send to me. Easy! You'll win points for correct predictions, and the points per game increase as the tournament progresses. How exciting! You can also revise your predictions during the knockout stages. Thrilling!</p>

  <p>To add some spice there will be huge cash prizes. The other side of this coin is that it costs 5 chf to play each game, or a special offer of both games for 10chf. Play now!</p>
</div>

