<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= name %></h4>
</div>

<div class="modal-body">
  <table class="table">
    <thead>
      <tr><th>Match</th><th>Prediction</th><th>True result</th></tr>
    </thead>
    <tbody>
<% pred.reverse.each do |p| %>
  <%
    x = p[0].split("--")
    team1 = sweep[x[0].strip] || x[0].strip
    team2 = sweep[x[1].strip] || x[1].strip
    if p[1][0][0] > p[1][0][1]
      team1 = "<strong>#{team1}</strong>"
    elsif p[1][0][0] < p[1][0][1]
      team2 = "<strong>#{team2}</strong>"
    end
    classStr = ""
    if p[1][0][0].to_i == p[1][1][0].to_i && p[1][0][1].to_i == p[1][1][1].to_i
      classStr = "success"
    elsif winner(p[1][0]) == winner(p[1][1])
      classStr = "info"
    end
  %>
      <tr class="<%= classStr %>">
        <td>
          <a class="country" href="#" data-toggle="tooltip" title="<%= x[0].strip %>"><%= team1 %></a>
          vs. 
          <a class="country" href="#" data-toggle="tooltip" title="<%= x[1].strip %>"><%= team2 %></a>
        </td>
        <td><%= p[1][1][0] %> : <%= p[1][1][1] %></td>
        <td><%= p[1][0][0] %> : <%= p[1][0][1] %></td>
      </tr>
<% end %>
    </tbody>
  </table>
</div>

