<h1>Scores</h1>

<div class="col-md-3">
  <h2>Current standings</h2>
  <table class="table table-striped">
    <thead>
      <tr><th>Name</th><th>Score</th></tr>
    </thead>
    <tbody>
      <% scores.each do |x| %>
        <tr>
          <td><a href="#" class="predictions" data-toggle="modal" data-target="#scores" data-remote="/predictions/<%= x[0] %>"><%= x[0] %></a></td>
          <td><%= x[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-9">
  <h2>Performance</h2>
  <%= line_chart "/cum_scores" %>
</div>

<div id="scores" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
